.remove img {
    width: 16px;
    height: 16px;
}
.settings-options {
    display: flex;
    flex-direction: column;
}
.settings-options > div > button {
    margin-left: 0px;
}
.benefits-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.25fr;
    column-gap: 20px;
    margin-top: 2%;
    margin-bottom: -5%;
}
.benefits-input {
    margin-top: -20px;
}
.benefits-input > label {
    margin-top: 20px;
}
.benefits-input > input {
    border-color: lightgray;
}
.benefits-input > input:focus {
    border-color: var(--vibrantGreen);
}
.panel-box {
    border: 2px solid lightgray;
    height: 200px;
    width: 80%;
    overflow-y: auto;
}
.benefits-input {
    display: flex;
    flex-direction: column;
}
.benefits-panel button {
    margin: 10px;
}
.taxes-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.25fr;
    margin-top: 2%;
    margin-bottom: -5%;
}
.tax-input {
    margin-top: -20px;
}
.tax-input > label {
    margin-top: 20px;
    margin-bottom: -20px;
}
.tax-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tax-input > input {
    border-color: lightgray;
    margin-bottom: -5%;
}

.tax-input > input:focus {
    border-color: var(--vibrantGreen);

}
.list-item {
    display: flex;
    align-items: center;
    padding: 5%;
    height: 30px;
}
.list-item:hover {
    background-color: var(--lightGreen);
}
.list-item.active {
    background-color: var(--mainGreen);
    color: white;
}
#addBenefitBtn, #addStateTaxBtn, #addFederalTaxBtn {
    margin-bottom: 10%;
}